body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.block-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 20px;
}

.income{
    background-color: #4b36ed;
    color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: transform 0.3s ease;

    transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.profitmargin{
    background: #6cc9f8;
    color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: transform 0.3s ease;

    transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.expense{
    background: #80f782;
    color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: transform 0.3s ease;

    transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.cashonhand{
    background: #e26afd;
    color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: transform 0.3s ease;

    
}

.block h3 {
  color: #2c3e50;
  margin-bottom: 1rem;
}

.block p {
  color: #7f8c8d;
  line-height: 1.6;
}

header {
  text-align: center;
  text-decoration: underline;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-size-adjust: 100px;
  height: 80px;
}
