body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f9f9f9; /* light background */
  color: #333;
}

h1 {
  margin: 15px 0 5px 0;
  font-size: 24px;
  color: #222;
}

.image-container {
  margin-top: 15px;
}


.profile-img {
  width: 150px;   /* adjust size */
  height: 150px;
  border-radius: 50%; /* makes it round */
  object-fit: cover;  /* prevents stretching */
  margin-top: 20px;   /* space from top */
  border: 3px solid #333; /* optional border */
}

.profile-info p {
  margin: 4px 0;
 
}

.button-group {
  margin-top: 50px;
}

.btn {
  padding: 8px 18px;
  margin: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  background-color: #fff;
  color: #333;

  width: 200px;
}

